name: JS Tests

permissions:
  contents: read

on:
  pull_request:
  workflow_dispatch:

jobs:
  js-tests:
    uses: bcgov/des-git-workflows/.github/workflows/js-tests.yml@feature/DESCW-3254-wp-env
    with:
      node_version: 22