name: Testing

permissions:
  contents: read

on:
  pull_request:
  workflow_dispatch:

jobs:
  js-testing:
    uses: bcgov/des-git-workflows/.github/workflows/js-tests.yml@691401899380da4f8c329f5d213c7fe6de1e1944
    with:
      node_version: 22